{{> navbar}}

<main>
    <h2>Dashboard</h2>
    <a href="/new">Create New Post</a>
    {{#each posts}}
    <div class="post">
        <h3>{{title}}</h3>
        <p>By: {{user.name}}</p>
        <p>{{{content}}}</p>
        <p>Posted on: {{formatDate createdAt}}</p>
        <button class="editBtn" data-id="{{id}}">Edit Post</button>
        <button class="deleteBtn" data-id="{{id}}">Delete Post</button>
    </div>
    {{/each}}
</main>

<script src="/js/delete-post.js"></script>