<main>
    <h2>Welcome to the Tech Blog!</h2>
    {{#if loggedIn}}
    <a href="/dashboard" class="navigation">Dashboard</a>
    <a href="/logout" class="navigation">Logout</a>
    {{else}}
    <a href="/" class="navigation">Home</a>
    <a href="/login" class="navigation">Dashboard</a>
    <a href="/login" class="navigation">Login</a>
    {{/if}}
    {{#each posts}}
    <a href="/post/{{id}}" class="post-link">
    <div class="post">
        <h3>{{title}}</h3>
        <p>By: {{user.name}}</p>
        <p>Posted on: {{createdAt}}</p>
    </div>
    </a>
    {{/each}}
</main>