<main>
    <h2>Welcome to the Tech Blog!</h2>
    {{#if loggedIn}}
    <a href="/dashboard">Go to Dashboard</a>
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/">Home</a>
    <a href="/login">Go to Dashboard</a>
    <a href="/login">Login</a>
    {{/if}}
    {{#each posts}}
    <a href="/post/{{id}}" class="post-link">
    <div class="post">
        <h3>{{title}}</h3>
        <p>By: {{user.name}}</p>
        <p>Posted on: {{createdAt}}</p>
    </div>
    </a>
    {{/each}}
</main>